/* Common */
.App {
  word-break: normal;
  tab-size: 4;
  color: #6c757d;
  font-family: sans-serif;
  font-size: 14px;
  background-repeat: no-repeat;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
/* Drop Line */
.dropLine {
  height: 2px;
  background-color: #007bff;
}
.dropLine.horizontal {
  width: 2px;
  height: auto;
}
.dropLine::before,
.dropLine::after {
  --size: 6px;
  position: absolute;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: inherit;
  content: '';
}
.dropLine::before {
  top: calc(var(--size) / 2 * -1 + 1px);
  left: calc(var(--size) / 2 * -1);
}
.dropLine::after {
  top: calc(var(--size) / 2 * -1 + 1px);
  right: calc(var(--size) / 2 * -1);
}
.dropLine.horizontal::before {
  top: calc(var(--size) / 2 * -1);
  left: calc(var(--size) / 2 * -1 + 1px);
}
.dropLine.horizontal::after {
  top: auto;
  bottom: calc(var(--size) / 2 * -1);
  left: calc(var(--size) / 2 * -1 + 1px);
}

.dragHandle {
  --size: 24px;
  margin-right: 4px;
  width: var(--size);
  height: var(--size);
  border-radius: 3px;
  cursor: grab;
  /* margin-left: 16px; */
}
.dragHandle svg {
  margin: 4px;
  height: 16px;
  fill: black;
}

.checkbox {
  margin-left: auto;
}
